
<ion-header>

  <ion-navbar>
    
    <ion-title>Dashboard</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card padding>
    <ion-card-title text-center><h1>{{displayYear}} Total Transactions</h1></ion-card-title>
    <ion-card-content text-center> <h1 id="total">$ {{total}} </h1> </ion-card-content>
  </ion-card>
  <ion-grid>
   <ion-row>
    <ion-col> 
      <button ion-button block outline (click)="viewAllTransactions()">View All</button>
    </ion-col>
    <ion-col> 
        <button ion-button block outline (click)="viewFilterCategory()">Filter Category</button>
      </ion-col>
   </ion-row>
   <ion-row>
      <ion-col> 
        <button ion-button block outline (click)="filterByYear()">Filter Year</button>
      </ion-col>
      <ion-col> 
          <button ion-button block outline>Add Category</button>
        </ion-col>
     </ion-row>
  </ion-grid>
  <button ion-button  block color="secondary" (click)="toTransactions()">Add Transaction</button>
  <!-- Input section for category selection -->

  <!-- Category filter section -->
   <ion-grid *ngIf="showCategoryFilter">
     <form #f="ngForm" (ngSubmit)="onSubmit(f)">
     <ion-row>
       <ion-col col-6>
        <ion-select name="category" ngModel>
          <ion-option *ngFor="let cat of itemCategory" value="{{cat}}">{{cat}}</ion-option>
        </ion-select>
      </ion-col>
       <ion-col col-3><button ion-button color="primary" small type="submit">Search</button></ion-col>
     </ion-row>
    </form>
    <button *ngIf="showCloseCategorySearch" ion-button color="danger" small (click)="closeCategorySelection()">Close Search</button>
   </ion-grid>

   <!-- Year filter section -->
   <ion-grid *ngIf="showYearFilter">
     <form #f="ngForm" (ngSubmit)="onFilterYear(f)">
       <ion-row>
         <ion-col col-6>
           <ion-select name="yearFilter" ngModel>
             <ion-option *ngFor="let year of yearFilter" value="{{year}}">{{year}}</ion-option>
           </ion-select>
           <ion-col col-3><button ion-button color="primary" small type="submit">Search</button></ion-col>
         </ion-col>
       </ion-row>
     </form>
     <button *ngIf="showCloseYearSearch" ion-button color="danger" small (click)="closeYearSelection()">Close Search</button>
   </ion-grid>
  <!-- Filtered category section -->
  <div *ngIf="showFilteredTransactions">
    <button ion-button small color="danger" (click)="closeList()">Close List</button>
  <ion-card *ngFor="let trans of filteredTransactions, let i = index" (click)="onOpenTrans(trans)">
   <ion-card-header>{{trans.vendor}}</ion-card-header>
   <ion-card-content>{{trans.cost}}</ion-card-content>
   <img [src]="trans.imagePath"/>
   <p>Image {{trans.imagePath}}</p>
  </ion-card>
  </div>
  <!-- Filtered year section -->
  <div *ngIf="showYearFilteredTransactions">
   <button ion-button small color="danger" (click)="closeYearList()">Close List</button>
    <ion-card *ngFor="let trans of filteredTransactions, let i = index">
      <ion-card-header>{{trans.vendor}}</ion-card-header>
   <ion-card-content>{{trans.cost}}</ion-card-content>
   <img [src]="trans.imagePath"/>
   <p>Image {{trans.imagePath}}</p>
    </ion-card>
  </div>
</ion-content>
